<%= render "admin/navbar" %>

<h1>Admin Orders</h1>

<table border="1" cellpadding="8" cellspacing="0">
  <tr>
    <th>ID</th>
    <th>User</th>
    <th>Total (₹)</th>
    <th>Status</th>
    <th>Change Status</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>

      <td>
        <%= order.user&.email || "Guest" %>
      </td>

      <td>
        <strong>
          ₹ <%= number_with_delimiter(order.total_amount.to_i) %>
        </strong>
      </td>

     <td>
  <span class="admin-status <%= order.status %>">
    <%= order.status.capitalize %>
  </span>
</td>

      <td>
        <%= form_with url: admin_order_path(order), method: :patch, local: true do %>
          <%= select_tag :status,
              options_for_select(Order.statuses.keys.map { |s| [s.capitalize, s] }, order.status)
          %>
          <%= submit_tag "Update" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
