<h1>Sign Up</h1>

<%= form_with model: @user, local: true do |form| %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <br>

  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </div>

  <br>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>

  <br>

  <div>
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation %>
  </div>

  <br>

  <div>
    <%= form.submit "Create Account" %>
  </div>

<% end %>
