<h1>Order Details</h1>
<h2>Order #<%= @order.id %></h2>
<h2>Order #<%= @order.id %></h2>
<p>
  Total Amount:
  <strong>₹ <%= number_with_delimiter(@order.total_amount.to_i) %></strong>
  <div class="order-tracker">
  <% steps = Order.statuses.keys %>

  <% steps.each do |step| %>
    <div class="tracker-step <%= 'active' if Order.statuses[step] <= Order.statuses[@order.status] %>">
      <%= step.capitalize %>
    </div>
  <% end %>
  <% if @order.placed? || @order.confirmed? %>
  <%= button_to "Cancel Order",
      cancel_order_path(@order),
      method: :patch,
      data: { confirm: "Are you sure?" },
      class: "cancel-btn" %>
<% end %>
</div>
</p>
<div class="progress-bar">
  <% steps = ["placed", "confirmed", "shipped", "delivered"] %>

  <% steps.each do |step| %>
    <span class="step <%= "active" if steps.index(step) <= steps.index(@order.status) %>">
      <%= step.capitalize %>
    </span>
  <% end %>
</div>
<p>
  <strong>Order:</strong> <%= @order.id %><br>
  <strong>Date:</strong> <%= @order.created_at.strftime("%d %b %Y %H:%M") %><br>
  <strong>Status:</strong> <%= @order.status.capitalize %><br>
  <strong>Total:</strong> <%= number_with_precision(@order.total_amount, precision: 2) %>
</p>

<h3>Items</h3>

<table border="1" cellpadding="8" cellspacing="0">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>

  <% @order.order_items.each do |item| %>
    <tr>
      <td><%= item.product.name %></td>
      <td><%= item.quantity %></td>
      <td><%= number_with_precision(item.price, precision: 2) %></td>
    </tr>
  <% end %>
</table>