<h1>Edit Product</h1>

<%= form_with model: [:admin, @product] do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </p>

  <p>
    <%= f.label :stock %><br>
    <%= f.number_field :stock %>
  </p>

  <%= f.submit "Update Product" %>

<% end %>

<br>

<%= link_to "Back", admin_products_path %>
