<h1>Products</h1>

<% @products.each do |product| %>
  <div style="margin-bottom:20px; border-bottom:1px solid #ccc; padding-bottom:10px;">
    
    <h3><%= link_to product.name, product_path(product) %></h3>
    <p><%= product.description %></p>
    <p>Price: ₹ <%= product.price %></p>

    <% if product.stock > 0 %>
      <p style="color:green;">In Stock: <%= product.stock %></p>
    <% else %>
      <p style="color:red;">Out of Stock</p>
    <% end %>

    <% cart = session[:cart] || {} %>
    <% quantity = cart[product.id.to_s] || 0 %>

    <% if product.stock > 0 %>

      <% if quantity > 0 %>
        <%= button_to "-", decrease_cart_path(product.id), method: :post %>
        <strong><%= quantity %></strong>
        <%= button_to "+", add_to_cart_path(product.id), method: :post %>
      <% else %>
        <%= button_to "Add to Cart", add_to_cart_path(product.id), method: :post %>
      <% end %>

    <% else %>
      <button disabled style="background-color: gray;">Out of Stock</button>
    <% end %>

  </div>
<% end %>
