<h1><%= @product.name %></h1>

<p><%= @product.description %></p>

<p>Price: $<%= @product.price %></p>

<p>Stock: <%= @product.stock %></p>

<% if @product.stock > 0 %>
  <%= button_to "Add to Cart", add_to_cart_path(@product), method: :post %>
<% else %>
  <p>Out of Stock</p>
<% end %>

<% if current_user&.admin? %>
  <%= link_to "Edit", edit_product_path(@product) %> |
  <%= button_to "Delete",
              product_path(@product),
              method: :delete,
              data: { turbo_confirm: "Are you sure?" } %>

<% end %>

<br><br>

<%= link_to "Back to Products", products_path %>
